* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial;
    background-color: #F9C22E;
    padding: 50px;
}

/*--- Navigation --*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: #24292e!important;
}

.navbar-brand img {
    height: 2rem;
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #E4572E;
}

/*
.btn-group {

    width: 100%;
    overflow: hidden;
    height: 40px;
    left: 0px;
    right: 0px;
    top: -1px;
    z-index: 10000001;
    position: fixed;
    border: none;
    border-bottom: 0px solid #6b90da;
    margin: 0.5px;
    -moz-box-shadow: 0 0 8px 1px #999999;
    -webkit-box-shadow: 0 0 8px 1px #999999;
    box-shadow: 0 0 8px 1px #999999;
    position: absolute;
    text-align: center;
    vertical-align: middle;

}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 0px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}
*/

.row{
	height: 100%;
}

.contenitore {
	margin-top: 200px;
}
.login {
    min-width: 20%;
	max-width: 80%
}



.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}

.login-screen2 {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}

.login-screen3 {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}



.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}